$purple: #0C6976
$darkbg: #262626

html, body
	margin: 0
	padding: 0
	background-color: rgb(255,255,255)
	height: 100%
	max-height: 100%

.container
	height: 100%
	max-height: 100%

.btn
	padding: 7px 10px
	background-color: blue
	display: block
	width: 70px
	text-align: center
	margin: 0 auto


.intro
	max-width: 320px
	margin: 0 auto

.game
	width: 100%
	overflow: hidden
	position: relative
	height: 100%

.lbl_wrong
	display: none
	position: absolute
	left: 40%
	top: 10px

.soundSlider
	padding: 10px 0px
	width: 7000px
	position: absolute
	left: 16px

.machineSlider
	overflow-x: scroll
	padding: 10px 0px
	width: 7000px
	position: absolute
	left: 16px
	top: 100px

.audioBox
	background-color: brown
	width: 235px
	height: 70px
	display: inline-block
	margin: 0px 11px
	position: relative

	&.active
		top: 23px

	img
		display: block
		width: 200px
		margin: 5px auto



.imageBox
	background-color: brown
	width: 235px
	height: 400px
	display: inline-block
	margin: 0px 11px

	img
		display: block
		width: 200px
		margin: 5px auto

.machineSlider , .soundSlider
	-webkit-transition: left 1.3s 
 	transition: left 1.3s 


@import fonts
