

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/opensans-regular.woff) format("woff"), url(/fonts/opensans-regular.eot) format("embedded-opentype");
}
@font-face {
  font-family: "Source Sans";
}
