.home {
  
  margin: 0 auto;
  background-color: #a43e27;
  padding-top: 0px;

}

.home .border {
  border-style: solid;
  border-width: 1px;
  margin: 2.5% 2.5% 2.5% 2.5%;
  border-color: #FFFFFF;
  position: absolute;
  width: 95%;
  height: 95%;
  pointer-events:none;

}

.home .logo {
  max-width: 320px;
  height: 50%;
  width: 70%;
  padding-top: 10px;
  background-image: url("/images/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px auto;
}

.home .label {
  max-width: 200px;
  width: 70%;
  margin: 30px auto;
  text-align: center;
  font-family: "Crete Round";
  color: #231D19;
}
.home .info {
  max-width: 200px;
  width: 60%;
  margin: 30px auto;
  text-align: center;
  font-family: "Open Sans";
  font-size: 10pt;
  text-transform: uppercase;
}
.home .btn {
  display: block;
  font-family: "Source Sans";
  margin: 0px auto;
  margin-top: 30px;
  background-color: #26768b;
  padding: 10px 10px;
  width: 70px;
  text-align: center;
  color: #FFFFFF;
}
