.retry {
  background-color: #428aa1;
}
.retry .btn {
  display: block;
  margin: 0px auto;
  background-color: blue;
  padding: 20px;
  width: 40%;
  font-size: 25px;
  color: #fff;
  margin-top: 50%;
  text-align: center;
}
